src/main/mule/implementation/mail.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="mailFlow" doc:id="4a340ab2-4977-460b-aa43-753f16684592" >
		<logger level="INFO" doc:name="Logger" doc:id="41b3d56e-2631-496f-9232-de0372d649c0" />
		<http:request method="POST" doc:name="Request" doc:id="5fc27ebe-fc24-4ce7-ac7a-a48e24845d7e" path="/${email-sapi.request_path}" config-ref="HTTP_Request_email-sapi">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : p('notification-papi.client_secret'),
	"client_id" : p('notification-papi.client_id')
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="bb0dfa70-6ef6-4ee4-bbea-5d7197d5ab6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
